php56.test {
    root /var/www/php56
    fastcgi / php-fpm56:9000 php {
        index index.php
    }
    rewrite {
        r .*
        ext /
        to /index.php?{query}
    }
    gzip
    browse
}
php73.test {
    root /var/www/php73
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        r .*
        ext /
        to /index.php?{query}
    }
    gzip
    browse
}
